<%- include('../common/header-public', {tituloPagina: "Sitio Usuario" }); %>

  <div class="container mt-5">
    <h1 class="display-2">Bienvenido <%= user.firstName %>
    </h1>
    <p>
      Bienvenido a "Mi Foro Web", un espacio virtual donde la creatividad y el intercambio de ideas convergen. Nuestro
      foro proporciona un entorno
      amigable y accesible para que los usuarios puedan crear y compartir publicaciones sobre una amplia variedad de
      temas.
    </p>
  </div>
  <div class="container mt-5">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <a href="post/create/<%= user.id %>"><button type="button" class="btn btn-outline-info">Crear publicacion</button></a>
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <a href="/post/<%= user.id %>"><button type="button" class="btn btn-outline-info">Ver tus publicaciones</button></a>
    </div>

  <div class="container mt-5">
    <h1>Datos de <%= user.firstName %>
    </h1>
  </div>


  <div class="container mt-5">
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Nombre</div>
          <%= user.firstName %>
        </div>
        <span class="badge bg-primary rounded-pill"></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Apellido</div>
          <%= user.lastName %>
        </div>
        <span class="badge bg-primary rounded-pill"></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Correo electronico</div>
          <%= user.email %>
        </div>
        <span class="badge bg-primary rounded-pill"></span>
      </li>
    </ol>
  </div>
  <div class="center-block">
    <div class="container mt-5">
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a href="/user"><button type="button" class="btn btn-success">Volver</button></a>
      </div>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example"></div>
        <a href="/user/update/<%= user.id %>"><button type="button" class="btn btn-info">Actulizar</button></a>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a href="/user/delete/<%= user.id %>"><button type="button" class="btn btn-danger">Eliminar</button></a>
      </div>
    </div>    
    </div>
  </div>


  <%- include('../common/footer'); %>